@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #020205;
  --page-color: #fcf9f4;
  --blue: #2b70ee;
  --white: #f8fafc;
  --btn-hover: #e2e8f0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--black);

  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
/* desktop nav bar */
.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 10px;
  background-color: var(--white);
  border: 2px solid var(--black);
  text-transform: uppercase;
  position: relative;
}
nav img {
  width: 30px;
  height: 30px;
}

.desktop-nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.desktop-nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Syne", sans-serif;
  position: relative;
  transition: all 0.3s ease;
}

.desktop-nav ul li ::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: currentColor;
  transition: width 0.5s ease;
}

.desktop-nav ul li :hover::before {
  width: 100%;
}

.mobile-nav {
  display: none;
}
.bar {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px auto;
  background-color: var(--blue);
  cursor: pointer;
}

/* * SECTION -Home */

#home {
  display: block;
  position: relative;
  height: calc(100vh - 80px);
}
.mobile-intro {
  display: none;
}
/* SVG */

.svg-view {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: auto;
}

path {
  /* stroke: #2b70ee; */
  stroke-width: 1px;
  /* fill: var(--blue); */
}
text {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

/* * SECTION -About */

section {
  width: 100%;
  height: 100vh;
  background-color: var(--page-color);
  padding: 15px 0px;
  /* overflow: hidden; */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.page-name {
  text-transform: uppercase;
  font-family: "Syne", sans-serif;
  font-weight: 900;
  word-spacing: 2px;
  font-size: 1.8rem;
}

header img {
  width: 50px;
  height: 60px;
}

.profile-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* profile */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  justify-content: center;
  gap: 10rem;
  overflow-y: scroll;
}
.profile-detail img {
  width: 30px;
  height: 35px;
}
.profile-image > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
/* profile detail  */
.profile-detail {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 25%;
}
.profile-detail-menu {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  justify-content: flex-end;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--black);
  gap: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.profile-detail-bio {
  width: 500px;
  text-align: justify;
  text-justify: inter-word;
  word-spacing: 3px;
}

strong {
  color: var(--blue);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.profile-detail-skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.front,
.backend,
.others {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.profile-detail-skills h3 {
  color: var(--blue);
}

.profile-detail-skills span {
  border: 1px solid var(--black);
  padding: 3px 6px;
  border-radius: 10px;
}
.profile-detail-bio,
.profile-detail-skills {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.profile-detail-bio.visible,
.profile-detail-skills.visible {
  opacity: 1;
}
.hidden {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* *PROJECTS */
#project {
  height: auto;
}
.project-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 20px;
  height: auto;
  background-color: var(--page-color);
  align-items: center; /* 가로축 가운데 정렬 */
  justify-content: center; /* 세로축 가운데 정렬 */
}
.project {
  padding: 20px 15px;
  height: auto;
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  position: relative;
}

.project-detail {
  text-align: justify;
}
.project-title h3 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 5px 0px;
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid var(--blue);
  padding: 10px 10px;
  width: 40%;
  margin: 0 auto;
}
.project video {
  width: 50%;
  margin-right: 2rem;
}

.project-link {
  display: flex;
  gap: 4rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin: 10px 0px;
}

.project-link img {
  width: 20px;
  heigh: 20px;
}

.back {
  margin-left: auto;
  padding: 10px 20px;
  background-color: var(--blue);
  margin-right: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
  font-family: "Syne", sans-serif;
}

.back:hover {
  background-color: #0056b3; /* 어두운 파란색 */
}

.link-button a:hover {
  color: var(--blue);
  text-decoration-color: var(--blue);
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.project-skill span {
  border: 1px solid var(--black);
  padding: 3px 6px;
  border-radius: 10px;
}

.project {
  animation: textEffect 2s ease-in-out alternate;
}
.project:nth-child(2) {
  animation: textEffect 3s ease-in-out alternate;
}

@keyframes textEffect {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* *CONTACT*/
footer {
  background-color: var(--blue);
  padding: 50px 0px;
  font-family: "Syne";
  font-weight: 600;
  border-top: 2px solid var(--black);
  text-transform: uppercase;
}
.contact-menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.contact,
.social,
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  text-align: center;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
.contact-link :hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.social a {
  transition: transform 0.2s ease-in;
}
.social a:hover {
  transform: translateY(-5px);
}

.footer-menu a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
footer img {
  width: 40px;
  height: 30px;
}
footer h2 {
  font-size: 1.2rem;
  font-weight: 800;
}
/* * Media query */
/* extra large screen */
@media only screen and (min-width: 1000px) and (max-width: 1700px) {
  .svg-view {
    width: 90%;
  }

  .project video {
    height: auto;
  }
}

/*  large screen */
@media only screen and (max-width: 1000px) {
  .svg-view {
    width: 100%;
  }

  header {
    gap: 5rem;
    margin-bottom: 40px;
  }

  .mobile-intro {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    animation: textEffect 2s ease-in-out alternate;
    position: absolute;
    z-index: 5;
  }
  @keyframes textEffect {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .text {
    display: none;
  }
  .profile {
    height: 100%;
    flex-direction: column;
    gap: 0rem;
    justify-content: center;
    background-color: var(--page-color);
  }
  .profile-detail {
    height: 40%;
    overflow-y: scroll;
  }
  .profile-image > img {
    width: 215px;
    height: 215px;
    object-fit: cover;
    border-radius: 50%;
  }
  .profile-detail-menu {
    font-size: 2rem;
  }

  .profile-detail {
    overflow-y: scroll;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project video {
    margin: 0;
  }

  .project video,
  .project-info {
    width: 100%;
  }
}
/* medium size */
@media only screen and (max-width: 768px) {
  /* mobile nav */
  .desktop-nav {
    display: flex;
    flex-direction: column;
    height: 20%;
  }
  .desktop-menu {
    position: relative;
  }
  .mobile-nav {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .desktop-nav .desktop-menu {
    display: none;
  }

  .desktop-menu > li {
    margin-bottom: 15px;
  }

  .desktop-nav .desktop-menu.active {
    display: block;
    text-align: center;
  }

  /* hamburger */
  .mobile-nav.active .bar:nth-child(2) {
    opacity: 0;
  }

  .mobile-nav.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .mobile-nav.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  /* home */

  .svg-view {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    height: auto;
    position: absolute;
    z-index: 0;
  }

  .mobile-intro {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    animation: textShadow 2s ease-in-out alternate;
    position: absolute;
    z-index: 5;
  }
  @keyframes textShadow {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .text {
    display: none;
  }

  /* about */
  header {
    gap: 5rem;
    margin-bottom: 20px;
  }

  .page-name {
    word-spacing: 2px;
    font-size: 1.5rem;
  }

  /* header img {
    width: 30px;
    height: 60px;
  } */

  .profile-image > img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
  }

  .profile-detail {
    gap: 1rem;
    min-width: 50%;
    height: 50%;
  }
  /* project */
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project video {
    margin: 0;
  }

  .project video,
  .project-info {
    width: 100%;
  }

  .footer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-menu {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  footer img {
    width: 40px;
    height: 30px;
  }
  footer h2 {
    font-size: 1.1rem;
    font-weight: 800;
  }
  .profile-detail-menu {
    font-size: 1.2rem;
  }
  .contact {
    padding-bottom: 50px;
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 1px solid var(--black);
  }

  .contact-link {
    font-size: 1.3rem;
  }
}

/* mobile size */
@media only screen and (max-width: 600px) {
  /* home */
  .svg-view {
    width: 100%;
    position: absolute;
    z-index: 0;
  }

  .mobile-intro {
    position: absolute;
    z-index: 5;
  }
  /* about */
  header {
    gap: 5rem;
    margin-bottom: 10px;
  }

  .page-name {
    word-spacing: 2px;
    font-size: 1rem;
  }

  header img {
    width: 30px;
    height: 60px;
  }
  .profile {
    align-items: center;
    justify-content: center;
  }
  .profile-image > img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .profile-detail {
    width: 80%;
    overflow-y: scroll;
  }
  .profile-detail-bio {
    width: 100%;
    text-align: left;
  }
}
