@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #020205;
  --page-color: #fcf9f4;
  --blue: #2b70ee;
  --white: #f8fafc;
  --btn-hover: #e2e8f0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--black);
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}

/* * NAV BAR */

/* desktop nav bar */
.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 10px;
  background-color: var(--white);
  border: 2px solid var(--black);
  text-transform: uppercase;
  position: relative;
}

.desktop-nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.desktop-nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  font-family: "Syne", sans-serif;
  position: relative;
  transition: all 0.3s ease;
}

.desktop-nav ul li ::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: currentColor;
  transition: width 0.5s ease;
}

.desktop-nav ul li :hover::before {
  width: 100%;
}

.mobile-nav {
  display: none;
}
.bar {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px auto;
  background-color: var(--blue);
  cursor: pointer;
}

/* * SECTION -Home */

#home {
  display: block;
  position: relative;
  height: calc(100vh - 80px);
}
.mobile-intro {
  display: none;
}
/* SVG */

.svg-view {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: auto;
}

path {
  /* stroke: #2b70ee; */
  stroke-width: 1px;
  fill: var(--blue);
}
text {
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

/* * SECTION -About */

section {
  width: 100%;
  height: 100vh;
  background-color: var(--page-color);
  padding: 15px 0px;
  /* overflow: hidden; */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.page-name {
  text-transform: uppercase;
  font-family: "Syne", sans-serif;
  font-weight: 900;
  word-spacing: 2px;
  font-size: 1.8rem;
}

header img {
  width: 50px;
  height: 60px;
}

.profile-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  background-color: var(--white);
  width: 50%;
  border: 2px solid var(--black);
  padding: 6px 4px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.7s;
  font-weight: 500;
}

.btn:hover {
  background-color: #e2e8f0;
}
/* profile */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  justify-content: center;
  gap: 10rem;
  overflow-y: scroll;
}
.profile-detail img {
  width: 30px;
  height: 35px;
}
.profile-image > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
/* profile detail  */
.profile-detail {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 25%;
}
.profile-detail-menu {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  justify-content: flex-end;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--black);
  gap: 1rem;
  font-weight: 600;
  font-size: 25px;
}

.profile-detail-bio {
  width: 500px;
  text-align: justify;
  text-justify: inter-word;
  word-spacing: 3px;
}

strong {
  color: var(--blue);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.profile-detail-skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.front,
.backend,
.others {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.profile-detail-skills h3 {
  color: var(--blue);
}

.profile-detail-skills span {
  border: 1px solid var(--black);
  padding: 3px 6px;
  border-radius: 10px;
}
.profile-detail-bio,
.profile-detail-skills {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.profile-detail-bio.visible,
.profile-detail-skills.visible {
  opacity: 1;
}
.hidden {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* * Media query */
/* extra large screen */
@media only screen and (min-width: 1000px) and (max-width: 1700px) {
  .svg-view {
    width: 100%;
  }
}

/*  large screen */
@media only screen and (max-width: 1000px) {
  .svg-view {
    width: 100%;
  }

  header {
    gap: 5rem;
    margin-bottom: 40px;
  }
  .profile {
    height: 100%;
    flex-direction: column;
    gap: 0rem;
    background-color: var(--page-color);
  }
  .profile-detail {
    height: 100%;
  }
  .profile-image > img {
    width: 215px;
    height: 215px;
    object-fit: cover;
    border-radius: 50%;
  }
  .profile-detail-menu {
    font-size: 20px;
  }
  .resume-btn {
    margin-bottom: 30px;
  }
}

/* medium size */
@media only screen and (max-width: 768px) {
  /* mobile nav */
  .desktop-nav {
    display: flex;
    flex-direction: column;
    height: 20%;
  }
  .desktop-menu {
    position: relative;
  }
  .mobile-nav {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .desktop-nav .desktop-menu {
    display: none;
  }

  .desktop-menu > li {
    margin-bottom: 15px;
  }

  .desktop-nav .desktop-menu.active {
    display: block;
    text-align: center;
  }

  /* hamburger */
  .mobile-nav.active .bar:nth-child(2) {
    opacity: 0;
  }

  .mobile-nav.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .mobile-nav.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  /* home */
  .svg-view {
    width: 100%;
  }

  .svg-view {
    left: 50%;
    transform: translateX(-50%);
    height: auto;
  }

  .mobile-intro {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    animation: textShadow 2s ease-in-out alternate;
  }
  @keyframes textShadow {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .text {
    display: none;
  }

  /* about */
  header {
    gap: 5rem;
    margin-bottom: 10px;
  }

  .page-name {
    word-spacing: 2px;
    font-size: 1.5rem;
  }

  header img {
    width: 30px;
    height: 60px;
  }

  .profile-image > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }

  .profile-detail {
    gap: 1rem;
    min-width: 50%;
  }
}

/* mobile size */
@media only screen and (max-width: 600px) {
  /* home */
  .svg-view {
    width: 100%;
  }

  /* about */
  header {
    gap: 5rem;
    margin-bottom: 10px;
  }

  .page-name {
    word-spacing: 2px;
    font-size: 1rem;
  }

  header img {
    width: 30px;
    height: 60px;
  }
  .profile {
    align-items: center;
    justify-content: center;
  }
  .profile-image > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .profile-detail {
    width: 80%;
    overflow-y: scroll;
  }
  .profile-detail-bio {
    width: 100%;
    text-align: left;
  }
}
